<div>
    <p class="hr_jz_head"><img back src="img/back.png" /><span class="sfour">微信认证</span></p>
    <div class="top_height"></div>
    <div style="background-color: #ffffff">
        <div class="hr_jh_d">
            <div class="hr_jh_div" >
                头像<img src="{{model.img_url}}" >
            </div>
            <div class="hr_jh_div">
                昵称<span style="margin-left: 10px;color: #E5466E" ng-bind-html="model.login_name"></span>
            </div>
        </div>
    </div>

</div>