<div>
    <p class="hr_jz_head"><img back src="img/back.png" /><span class="sfour">关于我们</span></p>
    <div class="top_height"></div>
    <div style="margin: 20px;font-size: 16px;color: #A27556;line-height: 20px;text-indent:2em">
        <p  style="">
            <!--1717帮（<a style="color: #E43562" href="http://www.1717bang.com">www.1717bang.com</a>）是一个互联网保险创新项目，-->
            <!--团队的主要创始人均长期从事保险行业在互联网领域的研究，-->
            <!--针对保险业互联网服务不足以及社会责任类保险产品数据不透明的情况，1717帮携手高科技企业北京中源万宏科技有限公司（技术支持）、-->
            <!--民生银行（资金监管）等互联网、金融领域的知名企业推出了“守护天使”项目。-->
            1717帮（<a style="color: #E43562" href="http://www.1717bang.com">www.1717bang.com</a>）是一个致力于提升全民保障服务的互联网互助平台。1717帮拥有资深的互助保障团队，
            技术支持团队以及互联网市场团队，在互联网互助领域具有领先地位。成立至今，1717帮已经推出两款互联网互助产品，“守护天使”与“晚点儿飞”
            。“守护天使”是全球首款针对儿童白血病专项保障的互联网互助产品，为0-14岁儿童提供白血病医疗保障。
            “晚点儿飞”是一款针对于商旅人士的新型飞机延误保障产品，目前正在筹备上线阶段。
            1717帮本着鼓励会员之间互帮互助的精神，将不断的研发并推出新的保障服务，为会员提供一个更安全更幸福的环境。
        </p>
        <p style="padding-top: 20px" >
            “守护天使”项目为非盈利社会公益项目，目的是整合每一笔小的互助金，来帮我们的会员抵御自己的孩子可能出现白血病的风险。1717帮承诺做到用互联网的服务，将“守护天使”的互助金的使用全部公开，确保每一分钱都用到救助会员的患病孩子身上。
        </p>
    </div>


    </div>
    <div style="margin: 20px;font-size: 16px;color: #A27556;line-height: 20px;">
        联系我们：<a style="color: #E43562" href="MailTo:support@wanhong360.com">support@wanhong360.com</a>
    </div>
</div>