<div>
    <p class="hr_jz_head"><img back src="img/back.png" /><span class="sfour">感谢信</span></p>
    <div class="top_height"></div>
    <div style="margin: 15px;">
        <img class="hr_jz_img" src="{{model.img_url}}"  />
    </div>
<div style="margin: 20px">{{model.content}}</div>
    <!--<div style="margin: 0 15px">-->
        <!--<p class="hr_jz_p"><span >{{model.login_name}}</span>先生于{{model.start_date|date:'yyyy-MM-dd'}}捐助<span> <b style="font-size: 18px;color:#E5466E">{{model.donate_money|number:2}}</b>元</span></p>-->
    <!--</div>-->
    <!--<div style="margin: 15px;">-->
        <!--<div  class="hr_jz_tuzhang">-->
            <!--<p>谢谢您的爱心支持!</p>-->
            <!--<img src="img/tuzhang.png"/>-->
        <!--</div>-->
        <!--<div style="margin:0 15px">-->
            <!--<a down class="hr_sub" ng-click="base.showShare=true">让更多人关注</a>-->
        <!--</div>-->
    <!--</div>-->

</div>
