<div>
    <p class="hr_jz_head"><img back src="img/back.png" /><span class="sfour">订单信息</span></p>
    <div class="top_height"></div>
    <div style="background-color: #ffffff">
        <div class="hr_jh_d">
            <div class="hr_jh_div" >
                订单编号:　903940385702957
            </div>
            <div class="hr_jh_div">
                商品:　
            </div>
            <div class="hr_jh_div">
                订单金额:　9元
            </div>
        </div>
    </div>


    <div style="margin:30px 45px">
        <a down ng-href="#inputPassword" class="hr_sub">微信支付</a>
    </div>
</div>