<div>
    <p class="hr_jz_head"><img back src="img/back.png" /><span class="sfour">其他产品</span></p>
    <div class="top_height"></div>
    <!--<div class="hr_mymsg" style="margin:0 20px">-->
        <!--<p class="hr_zs_p" style="text-align: left;padding-left: 10px">支持1717帮</p>-->
    <!--</div>-->
    <div  style="background-color: #ffffff">
        <div style="margin-left: 20px">

            <div class="hr_mymsg_p" ng-click="moveTo('main')" style="height: 50px">
                <div style="height: 50px;width: 25%;float: left;padding-left: 10px" ng-click="moveTo('aboutUs')">
                    守护天使
                </div>
                <div style="height: 50px;width: 70%;float: right">
                    <img src="img/go.png"/>
                </div>
            </div>
            <div class="hr_mymsg_p" ng-click="goToFly()" style="height: 50px">
                <div style="height: 50px;width: 25%;float: left;padding-left: 10px">
                    晚点儿飞
                </div>
                <div style="height: 50px;width: 70%;float: right">
                    <img src="img/go.png"/>
                </div>
            </div>

        </div>
    </div>

    <div style="height:30px ">
    </div>
</div>