<div>
    <p class="hr_jz_head" style="position: relative"><img back src="img/back.png" /><span class="sfour">互助金捐出</span></p>

    <div style="background-color: #ffffff;overflow: auto" id="hight1">
        <div style="padding:0 20px;background: #FAF2F1">
            <p class="hr_zs_p">共{{total_cost|number:2}}元</p>
        </div>
        <div  ng-repeat="item in model" class="hr_zs_d slide">
            <div style="margin-right: 15px;padding-top: 15px">
                <img ng-src="{{item.img_url}}" >
                <p style="margin-top: -5px;margin-left:40px">
                    <span class="hr_zs_name" ng-bind-html="item.login_name"></span><br><span class="hr_zs_time">{{item.operate_time|date:'yyyy-MM-dd'}}</span>
                    <span class="hr_zs_bianhao">{{item.operate_type==0?"平台扣款":"捐助+"}}{{item.operate_money}}元</span>
                </p>
            </div>
        </div>
    </div>

</div>