<div  style="background-color: #ffffff;margin-bottom: 20px;border-top: 1px solid #e9ddda" >
    <div style="margin-left: 20px;">
        <div  class="hr_mymsg_p1" >
            <div class="hr_mymsg_div1">
                孩子姓名
            </div>
            <div class="hr_mymsg_div2">
                <span class="hr_mymsg_span"><input type="text" ng-model="item.child_name" placeholder="必填"></span>
            </div>
        </div>
        <div  class="hr_mymsg_p1">
            <div class="hr_mymsg_div1">
                孩子乳名
            </div>
            <div class="hr_mymsg_div2">
                <span class="hr_mymsg_span"><input type="text"  ng-model="item.child_infantname"></span>
            </div>
        </div>
        <div  class="hr_mymsg_p1">
            <div class="hr_mymsg_div1">
                性　　别
            </div>
            <div class="hr_mymsg_div2" >
                <span class="hr_mymsg_span" ><div style=";height: 40px;width: 100%;text-align: right"   show-select  ng-model="item.child_gender"></div></span>
            </div>
        </div>
        <div  class="hr_mymsg_p1" >
            <div class="hr_mymsg_div1">
                身份证号
            </div>
            <div class="hr_mymsg_div2">
                <span class="hr_mymsg_span"><input type="text" id="childID" ng-blur="initChild($index)" ng-model="item.identifyId" ></span>
            </div>
        </div>


        <div  class="hr_mymsg_p1" >
            <div class="hr_mymsg_div1">
                出生年月
            </div>
            <div class="hr_mymsg_div2">
                <!--<img src="img/go.png" style="  height: 25px;width: 25px;margin-top: 9px;margin-right: -15px;"/><span style="float: right;color: #E5466E;">2015-3-27</span>-->
                <!--<span class="hr_mymsg_span"><input date-directive type="text"  ng-model="item.child_birthday"></span>-->
                <span class="hr_mymsg_span"><div date-directive style=";;height: 40px;text-align: right"  ng-model="item.child_birthday"></div></span>
            </div>
        </div>
        <div  class="hr_mymsg_p1">
            <div class="hr_mymsg_div1">
                就读学校
            </div>
            <div class="hr_mymsg_div2">
                <span class="hr_mymsg_span"><input type="text"  ng-model="item.child_school"></span>
            </div>
        </div>
        <div  class="hr_mymsg_p1" style="border-bottom: 0px">
            <div class="hr_mymsg_div1" >
                出生医院
            </div>
            <div class="hr_mymsg_div2">
                <span class="hr_mymsg_span"><input type="text"  ng-model="item.born_hospital"></span>
            </div>
        </div>
    </div>
</div>