
<div style="width: 100%;height: 100%;;cursor: pointer" ng-click="toggleShow()">{{selectDate?selectDate:'请选择日期(必填)'}}</div>
<div  ng-show="isShow">
    <div style="background: #000000;opacity: 0.5;position: fixed;top: 0px;left: 0px;height: 100%;width: 100%;z-index: 999"></div>
    <div style="height: 215px;width: 300px;background: #ffffff;position:fixed;top:50%;left: 50%;margin: -100px 0px 0px -150px;border-radius: 5px;z-index: 1000">
        <div style="position:relative;text-align: left;height: 35px;margin:0px 10px;;line-height: 35px;font-size: 14px;border-bottom: 1px solid #EBEBEB;color:#8D6E55;font-size: 18px;text-align: center;border-radius: 5px 5px 0px 0px ">
            <!--<b>　{{year}}年{{month}}月{{day}}日</b>-->
            请选择日期
            <img src="img/exit.png" style="margin-top: 0px;position: absolute;right:0px;top:5px" ng-click="toggleShow()">
        </div>
        <div style="height:105px;width: 280px;padding: 10px; ; ">
            <table style="width: 100%;border: none;border-collapse: separate;text-align: center">
                <tr>
                    <td style="height: 100px;width: 33%;">
                        <div class="dateCon">
                            <a ng-click="changeDate('addYear')"  href="" class="addTime" down>+</a>
                            <div class="displayTime">{{year}}</div>
                            <a ng-click="changeDate('reduceYear')" href="" class="reduceTime" down>-</a>
                        </div>
                    </td>
                    <td style="height: 100px;width: 33%">
                        <div class="dateCon">
                            <a ng-click="changeDate('addMonth')" href="" class="addTime" down>+</a>
                            <div class="displayTime">{{month}}</div>
                            <a ng-click="changeDate('reduceMonth')" href="" class="reduceTime" down>-</a>
                        </div>
                    </td>
                    <td style="height: 100px;width: 33%">
                        <div class="dateCon">
                            <a ng-click="changeDate('addDay')" href="" class="addTime" down>+</a>
                            <div class="displayTime">{{day}}</div>
                            <a ng-click="changeDate('reduceDay')" href="" class="reduceTime" down>-</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="text-align: center">
            <a href="" class="data_btn" ng-click="toggleShow();changeDate()" down>确定</a>
            <!--<img src="../img/popupSure.png" ng-click="toggleShow()" style="height: 35px;margin: 0px ;padding: 0px">-->
        </div>
    </div>
</div>
