
<div  ng-show="isShow">
    <!--<div class="background" ng-click="isShow=false" style="top:0px">-->

    <!--</div>-->
    <!--<div class="float_div">-->
        <!--<p class="fontstyle" style="padding-top: 30px"><img class="img_size" src="img/share_03.png">-->
            <!--<br>-->
            <!--分享至朋友圈-->
        <!--</p>-->
    <!--</div>-->
    <div class="background" ng-click="isShow=false" style="top:0px;">
        <img src="./img/share_01.png" style="width: 60px;height: 70px;float: right;margin-right: 50px;margin-bottom: 20px">
        <div style="text-align: center;">
            <img src="./img/share_friends1.png" style="width: 310px;height: 390px;position:absolute;top:60px;margin-left: -100px">
        </div>
    </div>
</div>