<div class="hr_jz_fc" style="background-color: #FAF4F4; height: 23px;width: 190px;float: right;margin-right: 10px;border-radius: 15px;border: 1px solid #EBE6E5;text-align: center;margin-top: 40px;z-index: 9999">
    <span class="hr_name"  style="float: right;margin-left: 5px;margin-right: 7px"> <img src="img/give_07.png"/></span>
    <span class="hr_name" ng-click="reloading()" style=";float: right;color:#E12E5C;  "><img src="img/give_05.png" style="margin-right: 0px;margin-left: 5px;"/>返回顶部 </span>
    <span class="hr_name" ng-click="goMyWeiZhi()" style="float: right;color:#E12E5C"><img src="img/give_03.png"/>我的位置 </span>
</div>
